[submodule "repositories/stable-diffusion-stability-ai"]
	path = repositories/stable-diffusion-stability-ai
	url = https://github.com/Stability-AI/stablediffusion
[submodule "repositories/k-diffusion"]
	path = repositories/k-diffusion
	url = https://github.com/crowsonkb/k-diffusion
[submodule "extensions/sd-webui-controlnet"]
	path = extensions/sd-webui-controlnet
	url = https://github.com/Mikubill/sd-webui-controlnet
